body {
    color: black;
    background-color: #1E1E1E;
    font-family: 'Segoe UI';
}

fieldset {
    width: 45%;
    border-color: #00A3F0;
    border-radius: 20px;
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 2%;
    background-color: #F2F5FF;
    justify-content: center;
    align-items: center;
}

.rectangle {
    margin-top: 2%;
    width: 50.8%;
    height: 8%;
    top: 0;
    left: 50%;
    right: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-image: linear-gradient(90deg, #132B41 0%, #00A3F0 100%);
    z-index: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.label {
    line-height: 0%;
    margin-top: 5%;
}

input {
    background: transparent;
    color: black;
    width: 50%;
    border: none;
    border-bottom: 2px solid #00A3F0;
    font-size: x-large;
    margin-bottom: 3%;
}

#submit-btn {
    margin: 0;
    width: 20%;
    border-radius: 60px;
    padding: 10;
    background-color: #00A3F0;
    color: white;
    margin-top: 1%;
    margin-right: 2%;
    font-weight: 700;
    font-size: 100%;
    border: none;
    outline: none;
    transition: transform 0.1s ease, filter 0.3s ease;
    box-shadow: 0 4px 3px rgba(0, 163, 240, 0.2);
}

#submit-btn:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.submit {
    width: 51%;
    border: none;
    margin: 0 auto;
    padding-left: 0%;
    padding-right: 0%;
    margin-top: 1%;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
