p {
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI";
}

body {
  margin: 0;
  background-color: #d6dbea;
}

h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 23px;
  color: #1e1e1e;
}

.logoname {
  display: flex;
  align-items: center;
}

.parentNav {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #132b41;
  overflow: auto;
  gap: 1rem;
}

.navi {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI";
  padding: 15px;
  padding-right: 0;
}

.navButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  text-decoration: none;
  align-items: center;
  /* flex-wrap: wrap; */
}

.navButtons li {
  display: inline;
  /* flex: 1 1 auto; */
}

.navButtons a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 70px;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.subNav {
  border-bottom: 0.5px solid #565656;
}

.subNavButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  padding-top: 12px;
  text-decoration: none;
  align-items: center;
}

.subNavButtons a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.infoLocked{
    padding-top: 200px;
    padding-left: 35%;
}



.infoLocked-pic {
    display: flex;             
    align-items: center;      
}

.padlock-pic {
    width: 64px;   
    height: 64px;           
    margin-right: 10px;        
}

.infoLocked-text {
    display: flex;
    flex-direction: column;   
}


