*{
  font-family: "Segoe UI";
}

p {
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI";
  margin: 0px 0;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-button {
  background: none;
  border: none;
}

.acc-parentNav {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #d6dbea;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  min-width: 250px;
  z-index: 1;
  border-radius: 20px;
  padding: 15px;
}
.acc-parentNav a {
  color: #132b41;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.acc-parentNav a:hover {
  background-color: #e1e5f2;
  border-radius: 10px;
}
.acc-show {
  display: block;
}

body {
  margin: 0;
  background-color: #d6dbea;
}

h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 23px;
  color: #1e1e1e;
}

.logoname {
  display: flex;
  align-items: center;
}

.parentNav {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #132b41;
  overflow: auto;
  gap: 1rem;
}

.navi {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI";
  padding: 15px;
  padding-right: 0;
}

.navButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  text-decoration: none;
  align-items: center;
}

.navButtons li {
  display: inline;
}

.navButtons a {
  text-decoration: none;
  color: white;
}

.logo {
  width: 70px;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}


.navActive{
  background-color: #00A3F0;
  padding: 10px 15px; 
  border-radius: 40px;
  font-weight: bold;
}

.infoLocked{
    padding-top: 200px;
    padding-left: 35%;
}



.infoLocked-pic {
    display: flex;             
    align-items: center;      
}

.padlock-pic {
    width: 64px;   
    height: 64px;           
    margin-right: 10px;        
}

.infoLocked-text {
    display: flex;
    flex-direction: column;   
}


.profileContainer {
  padding-left: 100px;
  padding-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 90px;
}

.profileTile {
  /* display: flex; */

  position: relative;
  overflow: visible;

  background: F2F5FF;
  border: 1.5px solid #132B41;
  border-radius: 20px;
  padding: 20px;
  
  text-align: center;
  
  height: 330px;
  width: 270px;

  background-color: #F2F5FF;

  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
}

.pfp{
  /* float: left; */
  position: absolute;
  /* float: left; */

  /* margin: 100px; */

  border: 1.5px solid #132B41;
  border-radius: 8px;
  
  top: -20px;
  left: -30px; 
  width: 110px; /* Set a specific width */
  height: 110px; /* Set a specific height */

  border-radius: 50%;
  object-fit: cover;
}

.bodyTextContainer{
  text-align: left;
  margin-top: 30px;
  padding-left: 20px;
}

.bodyText{
  font-family: "Roboto";
  color: #132B41;
  font-size: 16px;
}

.profileTitle{
  font-family: "Segoe UI";
  color: #00A3F0;
  font-weight: bold;
  font-size: 12px;
}



.name{
  font-family: "Segoe UI";
  color: #132B41;
  font-weight: bold;
  font-size: 25px;
}

.nameTitle{
  font-family: "Segoe UI";
  color: #132B41;
}



.typeMember {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0px 0px 0px;
  background-color: white;
}

.navButtons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navButtons-members {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  margin-right: 950px;
  margin-left: 0px;
}


.navButtons-members li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 0px;
  text-align: center;
  cursor: pointer;  
  transition: background-color 0.3s ease; 
  position: relative;
}


.navButtons-members input[type="radio"] {
  display: none;
}

.navButtons-members label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #132B41;
  font-family: "Roboto";
  font-size: 18px;
  cursor: pointer; 
  background-color: #B8B6D2;  
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navButtons-members input[type="radio"]:checked + label {
  background-color: #00A3F0;  
  color: white;               
  border-color: #00A3F0;      
  font-weight: bold;
}
.infoLabels{
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 25px 0;
  background-color: #00A3F0;
}

.infoLabels-container li{
  display: inline;
  color: white;
  font-family: "Roboto";
  padding-right: 200px;
}
.memInfo {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 20px 0;
  background-color: white;
  border: 1px solid #D6DBEA;
  margin-bottom: 0px; 
}
#name{
  padding-left: 50px;
}
#department{
  padding-right: 250px;
}
#nameDets{
  padding-left: 50px;
  padding-right: 175px;
}
#emailDets{
  padding-right: 135px;
}
#departmentDets{
  padding-right: 195px;
}
#batchDets{
  padding-right: 220px;
}
.memInfo-container li {
  display: inline-block;
  color: black;
  font-family: "Roboto";
  font-size: 16px;
  list-style: none;
}

.search-bar {
  display: flex;
  justify-content: end;
  right:0;
  gap: 10px;
  background-color: white;
  padding: 20px;
}

.search-container {
  position: relative;
  
}

.search-container input {
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #CCC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.search-container button {
  position: relative;
  padding: 0;
  border: none;
  background: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 8px;
}

.search-img{
  cursor: pointer;
  margin-top: 5px;
  width:15px;
  height:15px;
}
.tabs {
  display: flex;
  gap: 10px;
}

.tab {
  padding: 15px 40px 5px 40px;
  border: none;
  background-color: #B8B6D2;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
}

.tab.active {
  background-color: #00a3f0;
  color: white;
}
