*{
  font-family: "Segoe UI";
}

p,
h1,
h2 {
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI";
}

body {
  margin: 0;
  background-color: #d6dbea;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-button {
  background: none;
  border: none;
}

.acc-parentNav {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #d6dbea;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  min-width: 250px;
  z-index: 1;
  border-radius: 20px;
  padding: 15px;
}
.acc-parentNav a {
  color: #132b41;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.acc-parentNav a:hover {
  background-color: #e1e5f2;
  border-radius: 10px;
}
.acc-show {
  display: block;
}


h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 23px;
  color: #1e1e1e;
}

.left-border,
.right-border {
  flex: 1;
  min-width: 50px;
}
.logoname {
  display: flex;
  align-items: center;
}

.parentNav {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #132b41;
  overflow: auto;
  gap: 1rem;
}

.navi {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI";
  padding: 15px;
  padding-right: 0;
}

.navButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  text-decoration: none;
  align-items: center;
  /* flex-wrap: wrap; */
}

.navButtons li {
  display: inline;
  /* flex: 1 1 auto; */
}

.navButtons a {
  text-decoration: none;
  color: white;
}

.button{
  transition: all 0.3s ease;
}
.button.active {
  background-color: #00A3F0;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.button:hover{
  background-color: #3c9ecc6b;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.logo {
  width: 70px;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.subNav {
  border-bottom: 0.5px solid #565656;
}

.subNavButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  padding-top: 12px;
  text-decoration: none;
  align-items: center;
}

.subNavButtons a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.selectedSubNav{
  font-weight: bolder;
  margin-bottom: -10px;
  border-bottom: 8px solid #00A3F0;
}

.calendar-left {
    flex: 1;
    float: left;
    width: 70%;
  }
  
.calendar-right {
    float: right;
    flex: 1;
    width: 30%;
  }

.Calendar-container {
  display: block;
  width: 950px;
  height: 500px;
  border-radius: 8px;
  border: 2px solid gray;
  overflow: scroll;
  position: relative;
  margin: 25px auto 0 40px;
  background-color: #f2f5ff;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
}

#google-calendar {
  border-style: none;
  width: 100%;
  height: 100%;
}

.selected{
  background-color: #00A3F0;
  padding: 10px 15px; 
  border-radius: 40px;
}

.pinned-Announcements {
    padding-left: 10px;
    font-family: "Segoe UI";
    font-weight: bold;
    text-decoration: none;
    color: #f2f5ff;
  }
.upcoming-container {
    min-height: 300px;
    max-width: 380px;
    margin: 25px auto 0px 40px;
    background-color: #f2f5ff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
  }
  
.upcoming-header {
    max-width: 380px;
    max-height: 70px;
    align-items: center;
    display: flex;
    background-color: #132b41;
    padding-left: 30px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
.upcoming-content{
    padding-top: 5px;
    max-width: fit-content;
    margin-left: 30px;
    margin-right: auto;
  }
  
.taskName{
    margin-top: -15px;
  }

.calendarButton{
    padding-left: 210px;
    padding-bottom: 10px;
  }

