*{
  font-family: "Segoe UI";
}

p,
h1,
h2 {
  font-size: 15px;
  font-weight: normal;
  font-family: "Segoe UI";
}

body {
  zoom: 80%;
  margin: 0;
  background-color: #d6dbea;
}

h1 {
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 23px;
  color: #1e1e1e;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-button {
  background: none;
  border: none;
}

.acc-parentNav {
  display: none;
  position: absolute;
  right: 80px;
  background-color: #d6dbea;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  min-width: 250px;
  z-index: 1;
  border-radius: 20px;
  padding: 15px;
}
.acc-parentNav a {
  color: #132b41;
  padding: 10px 40px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.acc-parentNav a:hover {
  background-color: #e1e5f2;
  border-radius: 10px;
}
.acc-show {
  display: block;
}


.left-border,
.right-border {
  flex: 1;
  min-width: 50px;
}
.logoname {
  display: flex;
  align-items: center;
}

.parentNav {
  display: flex;
  /* flex-flow: row wrap; */
  justify-content: space-between;
  align-items: center;
  padding: 10px 80px;
  background-color: #132b41;
  overflow: auto;
  gap: 1rem;
}

.navi {
  font-size: 40px;
  font-weight: bold;
  color: white;
  font-family: "Segoe UI";
  padding: 15px;
  padding-right: 0;
}

.navButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  text-decoration: none;
  align-items: center;
  /* flex-wrap: wrap; */
}

.navButtons li {
  display: inline;
  /* flex: 1 1 auto; */
}

.navButtons a {
  text-decoration: none;
  color: white;
}

.button{
  transition: all 0.3s ease;
}
.button.active {
  background-color: #00A3F0;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.button:hover{
  background-color: #3c9ecc6b;
  border-radius: 20px;
  padding: 10px 40px 10px 40px;
}

.logo {
  width: 70px;
}

.profile {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.subNav {
  border-bottom: 0.5px solid #565656;
}

.subNavButtons {
  list-style-type: none;
  font-family: "Segoe UI";
  font-size: 20px;
  display: flex;
  gap: 4rem;
  padding: 0px 80px;
  padding-top: 12px;
  text-decoration: none;
  align-items: center;
}

.subNavButtons a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}

.subNavButtons li{
  transition: all 0.3s ease;
}
.subNavButtons li:hover{
  font-weight: bolder;
  margin-bottom: -10px;
  border-bottom: 8px solid #00a4f090;
}

.selected{
  background-color: #00A3F0;
  padding: 10px 15px; 
  border-radius: 40px;
}

.selectedSubNav{
  font-weight: bolder;
  margin-bottom: -10px;
  border-bottom: 8px solid #00A3F0;
}

.dashboard {
  /* display: flex;
  width: 70rem;
  height: auto;
  color: #132b41;
  background-color: white;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 15px;
  flex-direction: column; */
  /* column-gap: 30px; */
}

.dashboard-left {
  flex: 1;
  float: left;
  width: 70%;
}

.dashboard-right {
  float: right;
  flex: 1;
  width: 30%;
}

.pinned-container {
  min-height: 400px;
  max-width: 1500px;
  margin: 25px auto 0px 40px;
  background-color: #f2f5ff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
}

.pinned-header {
  max-width: 1500px;
  max-height: 70px;
  align-items: center;
  display: flex;
  background-color: #132b41;
  padding-left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.pinned-Announcements {
  padding-left: 10px;
  font-family: "Segoe UI";
  font-weight: bold;
  text-decoration: none;
  color: #f2f5ff;
}

.pinnedAnnInfo{
  margin-left: 80px;
  padding-bottom: 4px;
}


.pinned-box{
  max-width: 500px;
  display: inline-block;
  margin-right: 100px;
  padding-left: 10px;

}

.pinnedAnnBox{
  min-height: 200px;
  max-width: 400px;
  width: 100%;
  margin-left: 90px;
  background-color: #ffffff;
  outline-style: solid;
  outline-color: #6d6d6d;
  outline-width: 2px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  margin-bottom: 10px;
}

.pinnedAnnDetails{
  padding-top: 3px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pinned-postContent{
  max-width: 350px;
}

.pinnedpostDets{
  padding-top: 4px;
  padding-left: 85px;
}

.reactions-pinned{
  margin-top: -15px;
  padding-top: 3px;
  max-width: fit-content;
  margin-left: 70px;
  margin-right: auto;
}

.reactionButtons{
  list-style: none;
  display: flex;
  gap: 1rem;
  padding-left: 40px;
  padding-right: 0px;
  align-items: center;
}

.stream-header {
  padding: 0px 90px;
}

.stream {
  margin: auto;
  min-height: 200px;
  max-width: 1000px;
  margin: 10px 20px 100px 120px;
}

.posts-box {
  min-height: 200px;
  max-width: 1000px;
  margin: 10px 20px 100px 120px;
  background-color: #f2f5ff;
  outline-style: solid;
  outline-color: #00a3f0;
  outline-width: 2px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  margin-bottom: 20px;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 1.5rem;
  padding-right: 2px;
  margin-top: 1rem;
}

.profilePic {
  max-width: 50px;
  float: left;
}

.postDets {
  padding-top: 4px;
  padding-left: 85px;
}

.author-name {
  margin-bottom: -16px;
}

.username {
  font-size: 22px;
}

.postTime {
  margin: 0px;
}
.date-time {
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 13.5px;
}

.postProper {
  padding-left: 40px;
}

.Title {
  margin-bottom: -10px;
}

.post-title {
  font-size: 27px;
}

.postContent {
  padding-left: 5px;
  padding-bottom: 55px;
  max-width: 900px;
}

.post-content {
  font-size: 16px;
  max-width: fit-content;
  padding-bottom: 30px;
  border-bottom: 0.3px solid #a8a8a8;
  border-bottom-width: 1px;
  margin-bottom: 0;
}

.reactions {
  margin-top: -50px;
  padding-bottom: 1px;
}

.buttons {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding-left: 40px;
  padding-right: 0px;
  align-items: center;
}

.counter {
  margin-top: 0px;
  float: right;
  font-size: 20px;
}

.heart-icon {
  margin-top: -6px;
  font-size: 30px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s ease;
}

.heart-icon.active {
  color: red;
}

.comment-icon {
  background: none;
  border: none;
  cursor: pointer;
}

.speech-icon {
  width: 28px;
}

.comment-box {
  margin-left: 80%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  background-color: #f7f9fe;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 5px;
  width: 100%;
  outline: 0.5px solid #939393;
  max-width: 400px;
}

.comments-container {
  margin-top: -70px;
  max-width: 400px;
  max-height: 9px;
  width: 100%;
  float: right;
  flex: auto;
}

textarea {
  background-color: #f7f9fe;
  margin-top: -10px;
  border: none;
  outline: none;
  max-width: 400px;
  max-height: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}

textarea::placeholder {
  color: #aaa;
  font-family: "Segoe UI";
}

.submit-button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}

.upcoming-container {
  min-height: 300px;
  max-width: 380px;
  margin: 25px auto 0px 40px;
  background-color: #f2f5ff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
}

.upcoming-header {
  max-width: 380px;
  max-height: 70px;
  align-items: center;
  display: flex;
  background-color: #132b41;
  padding-left: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.upcoming-content{
  padding-top: 5px;
  max-width: fit-content;
  margin-left: 30px;
  margin-right: auto;
}

.taskName{
  margin-top: -15px;
}

.calendarButton{
  padding-left: 210px;
  padding-bottom: 10px;
}

.main {
  width: 100%;
}



