p {
    font-size: 15px;
    font-weight: normal;
}
  
body {
    zoom: 80%;
    margin: 0;
    background-color: #d6dbea;
}

.mentor-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 175px;
    background-color: #2A9CD4;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    gap: 5px; 
}

.mentor-button i {
    font-size: 18px; 
}

.mentor-button:hover {
    background-color: #1e85b6; 
}
  
h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #1e1e1e;
}

.logoname {
    display: flex;
    align-items: center;
}

.parentNav {
    display: flex;
    /* flex-flow: row wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
    background-color: #132b41;
    overflow: auto;
    gap: 1rem;
}

.navi {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 15px;
    padding-right: 0;
}

.navButtons {
    list-style-type: none;
    font-family: "Segoe UI";
    font-size: 20px;
    display: flex;
    gap: 4rem;
    padding: 0px 80px;
    text-decoration: none;
    align-items: center;
    /* flex-wrap: wrap; */
  }
  
  .navButtons li {
    display: inline;
    /* flex: 1 1 auto; */
  }
  
  .navButtons a {
    text-decoration: none;
    color: white;
  }
  
  .button{
    transition: all 0.3s ease;
  }
  .button.active {
    background-color: #00A3F0;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
  }
  
  .button:hover{
    background-color: #3c9ecc6b;
    border-radius: 20px;
    padding: 10px 40px 10px 40px;
  }

.logo {
    width: 70px;
}

.profile {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-button {
    background: none;
    border: none;
}

.acc-parentNav {
    display: none;
    position: absolute;
    right: 80px;
    background-color: #d6dbea;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    min-width: 250px;
    z-index: 1;
    border-radius: 20px;
    padding: 15px;
}
.acc-parentNav a {
    color: #132b41;
    padding: 10px 40px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.acc-parentNav a:hover {
    background-color: #e1e5f2;
    border-radius: 10px;
}
.acc-show {
    display: block;
}

.profile-header {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    font-family: "Segoe UI", Arial, sans-serif;
    margin-left: 10%;
    margin-top: 25px;
    margin-right: 10%;
    position: relative; 
}

.account-header-container {
    position: relative; 
}

.account-header {
    font-size: 30px;
    font-weight: bold;
    color: #132b41;
}

.text2 {
    font-size: 16px;
    font-weight: lighter;
    color: gray;
    position: absolute; 
    right: -65px; 
    bottom: -10px; 
}

.edit-profile {
    display: flex;
    justify-content: flex-end; 
    margin-left: auto;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    background-color: #2A9CD4;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    gap: 5px; 
}

.edit-button i {
    font-size: 18px; 
}

.edit-button:hover {
    background-color: #1e85b6; 
}

.profile-information {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 10%;  
    margin-right: 10%; 
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    width: 74%; 
}

.profile2 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-information-1 {
    margin-top: 5px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    font-family: "Segoe UI", Arial, sans-serif;
    gap: 20px; 
}

.profile-information-1-name {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 20px;
}

.profile-information-1-photo {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-top: 0px;
    gap: 10px;
}

.change-photo {
    color: #ffffff;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 0px;
    margin-left: 25%;
    display: block;
}

.change-photo i {
    font-size: 15px;
    margin-right: 5px;
}

.bio {
    margin-top: -18px; 
    margin-left: 3px;
    color: #1e85b6;
    font-size: 14px;
    font-weight: 500;
}

.bio1 {
    margin-top: 0px;
    margin-left: 12px;
    color: gray;
    font-size: 14px;
    font-weight: lighter;
}

input[type=text] {
    width: 100%;
    height: 125px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 1px solid #787878;
}

.batch {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
}

.profile-information-2 {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color:gray;
}

.profile-information-2 hr {
    border: 0;
    height: 1px;
    background: #132b41; 
    margin: 20px 0; 
    margin-top: -7px;
}

/* Account Management: Report and Defer */

.rep-def-container{
    display: flex;
    flex-direction: column; 
    width: 60%;
    margin-right: 20px;
    margin-left: 275px;
}

.choice-buttons {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}

.submit-button {
    display: flex;
    align-items: center;
    min-width: 100px;
    background-color: #2A9CD4;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    gap: 5px; 
    margin-right: 10px; 
}

.submit-button i {
    font-size: 18px; 
}

.submit-button:hover {
    background-color: #1e85b6; 
}

.cancel-button {
    display: flex;
    align-items: center;
    min-width: 100px;
    background-color: gray;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    gap: 5px; 
}

.cancel-button i {
    font-size: 18px; 
}

.cancel-button:hover {
    background-color: darkgray; 
}

.mentee-container {
    display: flex;
    align-items: center;
}


.mentee-icon {
    font-size: 40px;
    color: #3498db;
    margin-right: 25px;
}

.mentee-invite-box {
    background-color: #3498db;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.invite-title i {
    font-size: 25px;
    margin-right: 15px;
    font-weight: 250;
}

.invite-title {
    font-size: 14px;
    margin: 0px;
    font-weight: 500;
}

.invite-text {
    font-size: 12px;
    margin-left: 40px;
}

.accept-btn, .decline-btn {
    background: none;
    color: #ffffff;
    padding: 0; 
    border: none;
    cursor: pointer;
    font-size: 13px; 
    margin-right: 20px;
    font-weight: 650;
}

.accept-btn:hover, .decline-btn:hover {
    color: #132b41;
}

.mentee-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.mentee-profile{
    display: none;

}

.mentee-profile img {
    margin-right: 10px;
}

.menteePic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#menteeName {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
